<form class="video-soap" [formGroup]="soapForm" *ngIf="soapForm">
  <div class="h-100 w-100 d-flex flex-column softnote softnote-height" id="soapNoteContainer" #container>
    <div class="flex-fill d-flex flex-column">
      <span>Subjective</span>
      <textarea class="h-100 border" rows="3" cols="50" formControlName="subjective"></textarea>
    </div>
    <div class="flex-fill d-flex flex-column mt-3">
      <span>Objective</span>
      <textarea class="h-100 border" rows="3" cols="50" formControlName="objective"></textarea>
    </div>
    <div class="flex-fill d-flex flex-column mt-3">
      <span>Assessment</span>
      <textarea class="h-100 border" rows="3" cols="50" formControlName="assessment"></textarea>
    </div>
    <div class="flex-fill d-flex flex-column mt-3">
      <span>Plan</span>
      <textarea class="h-100 border" rows="3" cols="50" formControlName="plan"></textarea>
    </div>
  </div>
</form>