<mat-dialog-content class="change-password text-center popup">
  <h4 mat-dialog-title>CHANGE PASSWORD</h4>
  <hr>
  <span class="error-show" *ngIf="isHasError">These fields are required and cannot be empty.</span>
  <form [formGroup]="passwordForm" class="mt-4" #editForm="ngForm" novalidate (ngSubmit)="onSubmit()">  
    <div class="form-group my-3 row">
      <label class="col-3 m-auto">Old Password</label>
      <mat-form-field class="custom-input col-9" appearance="outline">
        <input [type]="showOldPassword ? 'text' : 'password'" matInput #input formControlName="oldPassword"
          [class.error-border]="isHasError && f.oldPassword.invalid" [errorStateMatcher]="matcher"/>
        <mat-icon class="c-light-gray" matSuffix (click)="toggleOldPasswordVisibility()">
          {{showOldPassword?'visibility':'visibility_off'}}
        </mat-icon>
      </mat-form-field>
    </div>
    <div class="form-group my-3 row">
      <label class="col-3 m-auto">New Password</label>
      <mat-form-field class="custom-input col-9" appearance="outline">
        <input [type]="showNewPassword ? 'text' : 'password'" matInput #input formControlName="newPassword"
          class="round-coner" [class.error-border]="isHasError && f.newPassword.invalid" [errorStateMatcher]="matcher"/>
        <mat-icon class="c-light-gray" matSuffix (click)="toggleNewPasswordVisibility()">
          {{showNewPassword?'visibility':'visibility_off'}}
        </mat-icon>
      </mat-form-field>
    </div>
  </form>
  <div>
    <button type="button" mat-stroked-button class="btn btn-cancle" [mat-dialog-close]="false">Cancel</button>
    <button type="submit" mat-stroked-button class="btn btn-blue" (click)="editForm.onSubmit($event)">Save</button>
  </div>
</mat-dialog-content>
