.forgot-password {
  width: 100%;

  .title {
    margin: 3% 0;
  }

  .error-show {
    width: 50%;
  }

  .form {
    width: 70%;
    margin: auto;

    &-group {
      margin: 5% 0;
    }

    .btn {
      margin: 2% 0;
    }
  }

  .error-show {
    width: 35%;
  }
}
