.forgot-password {
  width: 35%;
  height: 70%;
  margin: 15% auto;

  .content {
    width: 100%;

    .logo {
      img {
        width: 35%;
      }
    }

    .back-login {
      margin-top: 5%;

      mat-icon {
        vertical-align: middle;
      }

      span {
        padding: 0.2% 0;
      }

      .btn {
        width: 45%;
      }
    }
  }
}
