<div class="change-password" *ngIf="!changePassword" (click)="changeMode()">Change password</div>
<form [formGroup]="passwordForm" (ngSubmit)="submit()" *ngIf="changePassword" class="mt-2">
  <div class="form-group">
    <label>Old Password</label>
    <mat-form-field appearance="outline">
      <input [type]="showOldPassword ? 'text' : 'password'" matInput #input formControlName="oldPassword"
        class="round-coner" />
      <mat-icon matSuffix (click)="toggleOldPasswordVisibility()">
        {{showOldPassword?'visibility':'visibility_off'}}
      </mat-icon>
    </mat-form-field>
  </div>
  <div class="form-group">
    <label>New Password</label>
    <mat-form-field appearance="outline">
      <input [type]="showNewPassword ? 'text' : 'password'" matInput #input formControlName="newPassword"
        class="round-coner" />
      <mat-icon matSuffix (click)="toggleNewPasswordVisibility()">
        {{showNewPassword?'visibility':'visibility_off'}}
      </mat-icon>
    </mat-form-field>
  </div>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-outline mx-5" (click)="cancelUpdate()">Cancel</button>
    <button type="submit" class="btn btn-blue">Save</button>
  </div>
  <label *ngIf="message" class="text-danger">*{{message}}</label>
  <label *ngIf="success" class="text-success">Update password success.</label>
  <form>