.form-group {
    //margin-bottom: 1rem;
    label {
            display: inline-block;
            margin-bottom: 1px;
    }
}

::ng-deep .mat-form-field-infix {
    padding: 4px 0px 12px 0px !important;
}

.account-details {
    color: #47A7EE; 
    font-weight: 900;
    margin-bottom: 30px;
    font-family: "Google Sans" !important;
}

.round-coner {
    border-radius: 30px;
}

.btn-blue {
    background-color: #47A7EE;
    color: #FFFFFF;
    width: 130px;
    height: 40px;
}

.btn-outline {
    background-color: white;
    border: solid #7c7c7c 1px;
    color: #707070;
    width: 130px;
    height: 40px;
}

.change-password {
    color: #47A7EE; 
    font-weight: 900;
    margin-bottom: 30px;
    font-family: "Google Sans" !important;
    cursor: pointer;
    margin-top: 30px;
}

:host ::ng-deep .mat-form-field-outline-start {
    border-radius: 15px 0 0 15px !important;
    min-width: 15px !important;
}
 
:host ::ng-deep .mat-form-field-outline-end {
    border-radius: 0 15px 15px 0 !important;
}
